Player Count
->Total Number of Players

Purchasing Analysis (Total)
->Number of Unique Items
->Average Purchase Price
->Total Number of Purchases
->Total Revenue

Gender Demographics
->Percentage and Count of Male Players
->Percentage and Count of Female Players
->Percentage and Count of Other / Non-Disclosed

Purchasing Analysis (Gender)
The below each broken by gender
->Purchase Count
->Average Purchase Price
->Total Purchase Value
->Average Purchase Total per Person by Gender

In [33]:
import pandas as pd

In [34]:
purchase_df = pd.read_csv("/home/neosoft/Desktop/Python/purchase_data.csv")
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

# Player Count

In [35]:
players = purchase_df['SN'].unique()
players_count = len(players)
print("Total number of players :" , players_count)

Total number of players : 576

# Purchasing Analysis (Total)

Number of Unique Items

In [36]:
unique_items = purchase_df['Item ID'].unique()
unique_items_count = len(unique_items)
print("Total number of unique items : ", unique_items_count)

Total number of unique items :  183

Average Purchase Price

In [37]:
average_purchase_price = purchase_df['Price'].mean()
print("Avarage purchase price :", average_purchase_price)

Avarage purchase price : 3.050987179487176

Total Number of Purchases

In [38]:
total_purchases = purchase_df['Purchase ID'].unique()
total_purchases_count = len(total_purchases)
print("Total number of purchases : ", total_purchases_count)

Total number of purchases :  780

Total Revenue

In [39]:
total_revenue = purchase_df['Price'].sum()
print("Total revenue : ", total_revenue)

Total revenue :  2379.77

# Gender Demographics

Percentage and Count of Male Players

In [69]:
#Number of Male Players
male_players = purchase_df.loc[purchase_df["Gender"] == "Male"]
male_players_count = len(male_players['SN'].unique())
print("Number of Male Players : ", male_players_count,"\n")

#Percentage of Male Players
male_percent = "{:.3f}%".format(male_players_count / players_count * 100)
print("Percentage of Male players : ", male_percent)

Number of Male Players :  484

Percentage of Male players :  84.028%

Percentage and Count of Female Players

In [54]:
#Number of Female Players
female_players = purchase_df.loc[purchase_df["Gender"] == "Female"]
female_players_count = len(female_players['SN'].unique())
print("Number of Female Players : ", female_players_count, "\n")

#Percentage of Female Players
female_percent = "{:.2f}%".format(female_players_count / players_count * 100)
print("Percentage of Female players : ", female_percent)

Number of Female Players :  81

Percentage of Female players :  14.06%

Percentage and Count of Other/Non-Disclosed

In [55]:
#Number of Other/Non-Disclosed Players
other_players = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed"]
other_players_count = len(other_players["SN"].unique())
print("Number of Other/Non-Disclosed Players: ", other_players_count)

#Percentage of Other/Non-Disclosed Players
other_players_percent = "{:.2f}%".format(other_players_count / players_count * 100)
print("Percentage of Other / Non-Disclosed players : ", other_players_percent)

Number of Other/Non-Disclosed Players:  11
Percentage of Other / Non-Disclosed players :  1.91%

# Purchasing Analysis (Gender)

The below each broken by gender

Purchase Count

In [58]:
#Purchase Count of Male Players
male_purchase = purchase_df.loc[purchase_df["Gender"] == "Male"]
#male_purchase_count = male_purchase.shape[0]
male_purchase_count = len(male_purchase["Purchase ID"].unique())
print("Purchase Count of Male Players: ", male_purchase_count, "\n")

#Purchase Count of Female Players
female_purchase = purchase_df.loc[purchase_df["Gender"] == "Female"]
female_purchase_count = female_purchase.shape[0]
print("Purchase Count of Female Players: ", female_purchase_count, "\n")

#Purchase Count of Other/Non-Disclosed Players
other_players_purchase = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed"]
other_players_purchase_count = other_players_purchase.shape[0]
print("Purchase Count of Other/Non-Disclosed  Players: ", other_players_purchase_count, "\n")

Purchase Count of Male Players:  652

Purchase Count of Female Players:  113

Purchase Count of Other/Non-Disclosed  Players:  15

Average Purchase Price

In [63]:
#Average Purchase Price of Male Players
avg_male_purchase_price = purchase_df.loc[purchase_df["Gender"] == "Male", ["Price"]].mean()
avg_male_purchase_price = avg_male_purchase_price[0]
print("Average Purchase Price of Male Players: ", round(avg_male_purchase_price, 3), "\n")

#Average Purchase Price of Female Players
avg_female_purchase_price = purchase_df.loc[purchase_df["Gender"] == "Female", ["Price"]].mean()
avg_female_purchase_price = avg_female_purchase_price[0]
print("Average Purchase Price of Female Players: ", round(avg_female_purchase_price, 3), "\n")

#Average Purchase Price of Other/Non-Disclosed Players
avg_other_purchase_price = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed", ["Price"]].mean()
avg_other_purchase_price = avg_other_purchase_price[0]
print("Average Purchase Price of Other/Non-Disclosed Players: ", round(avg_other_purchase_price, 3), "\n")

Average Purchase Price of Male Players:  3.018

Average Purchase Price of Female Players:  3.203

Average Purchase Price of Other/Non-Disclosed Players:  3.346

Total Purchase Value

In [66]:
#Total Purchase Value of Male Players
total_male_purchase_value = purchase_df.loc[purchase_df["Gender"] == 'Male', ["Price"]].sum()
total_male_purchase_val = total_male_purchase_value[0]
print("Total Purchase Value of Male Players: ", round(total_male_purchase_val, 3))

#Total Purchase Value of Female Players
total_female_purchase_value = purchase_df.loc[purchase_df["Gender"] == 'Female', ["Price"]].sum()
total_female_purchase_val = total_female_purchase_value[0]
print("Total Purchase Value of Female Players: ", round(total_female_purchase_val, 3))

#Total Purchase Value of Other/Non-Disclosed Players
total_other_purchase_value = purchase_df.loc[purchase_df["Gender"] == 'Other / Non-Disclosed', ["Price"]].sum()
total_other_purchase_val = total_other_purchase_value[0]
print("Total Purchase Value of Other/Non-Disclosed Players: ", round(total_other_purchase_val, 3))

Total Purchase Value of Male Players:  1967.64
Total Purchase Value of Female Players:  361.94
Total Purchase Value of Other/Non-Disclosed Players:  50.19

Average Purchase Total per Person by Gender

In [67]:
#Average Purchase Total per Person of Male Player
avg_male_purchase_total_person = total_male_purchase_value[0] / male_players_count
print("Average Purchase Total per Male Player:  ", avg_male_purchase_total_person)

#Average Purchase Total per Person of Female Player
avg_female_purchase_total_person = total_female_purchase_value[0] / female_players_count
print("Average Purchase Total per Female Player:  ", avg_female_purchase_total_person)

#Average Purchase Total per Person of Other/Non-Disclosed Player
avg_other_purchase_total_person = total_other_purchase_value[0] / other_players_count
print("Average Purchase Total per Other/Non-Disclosed Player:  ", avg_other_purchase_total_person)

Average Purchase Total per Male Player:   4.065371900826446
Average Purchase Total per Female Player:   4.468395061728395
Average Purchase Total per Other/Non-Disclosed Player:   4.5627272727272725

In [68]:
#Create Summary Gender Purchase Analysis DataFrame
gender_purchasing_analysis_table = pd.DataFrame([{
    "Gender": "Male", "Purchase Count": male_purchase_count,
    "Average Purchase Price": avg_male_purchase_price,
    "Total Purchase Value": total_male_purchase_val,
    "Average Total Purchase Per Person": "${:.2f}".format(avg_male_purchase_total_person)},
    {"Gender": "Female", "Purchase Count": female_purchase_count,
    "Average Purchase Price": avg_female_purchase_price,
    "Total Purchase Value": total_female_purchase_val,
    "Average Total Purchase Per Person": "${:.2f}".format(avg_female_purchase_total_person)},
    {"Gender": "Other / Non-Disclosed", "Purchase Count": other_players_purchase_count,
    "Average Purchase Price": avg_other_purchase_price,
    "Total Purchase Value": total_other_purchase_val,
    "Average Total Purchase Per Person": "${:.2f}".format(avg_other_purchase_total_person)
}])

gender_purchasing_analysis_table = gender_purchasing_analysis_table.set_index("Gender")
gender_purchasing_analysis_table.index.name = None
gender_purchasing_analysis_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Male,652,3.017853,1967.64,$4.07
Female,113,3.203009,361.94,$4.47
Other / Non-Disclosed,15,3.346000,50.19,$4.56